html,
body {
  min-width: 450px;
  font-family: 'Open Sans', sans-serif;
  background-color: #d3f0f9;
}

.page {
  padding: 20px;
}

.App {
  text-align: center;
  padding: 20px;
}

.hidden{
  display:none;
}